@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --dark-color: #1e2a53;
  --white-color: #ffffff;
  --blue-color: #025efe;
  --light-blue: #01a1f1;
  --gray-color: #8890a7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:disabled {
  color: #b8bdd1;
}

input:disabled::placeholder {
  color: #b8bdd1;
}
